include *.txt
include *.md
include *.pkl
recursive-include ./m3mp1 *

include m3mp1/datasets/bike-sharing-datasets.csv
include m3mp1/trained_models/*.pkl
include m3mp1/VERSION
include m3mp1/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]